
@media screen and (min-width: 480px){
    .our-skills-section,
    .clients-section {
        width: 428px;
    }

    .subscribe-input {
        width: 396px;
    }
}

@media screen and (min-width: 768px){
    .our-skills-section,
    .clients-section {
        width: 768px;
    }

    .customers-list {
        column-gap: 24px;
    }

    .our-team-list {
        row-gap: 64px;
        column-gap: 24px;
        flex-direction: row;
        width: 552px;
        margin-right: auto;
        margin-left: auto;
    }

    .customers-list-item {
        width: calc((100% - 24px) / 4);
    }

    .our-skills-flex {
        justify-content: center;
        width: 736px;
        column-gap: 24px;
        margin-right: auto;
        margin-left: auto;
    }

    .our-skills-header {
        text-align: left;
    }

    .our {
        width: calc((100% - 24px) / 2);
    }

    .flex-footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        column-gap: 24px;
        margin-left: 108px;
    }

    .footer-text-container {
        align-items: start;
    }

    .footer-container {
        align-items: start;
    }

    .form-flex {
        align-items: flex-start;
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-form {
        align-items: start;
    }

    .subscribe-input {
        width: 264px;
    }
}

@media screen and (min-width: 1200px){
    .our-skills-section,
    .clients-section {
        width: 1158px;
    }

    .our-team-list {
        column-gap: 24px;
        flex-direction: row;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}
