
@media screen and (min-width: 480px){
    .our-skills-section,
    .clients-section {
        width: 428px;
    }

    .subscribe-input {
        width: 396px;
    }
}

@media screen and (min-width: 768px){
    .our-skills-section,
    .clients-section {
        width: 768px;
    }

    .modal {
        width: 408px;
    }

    .hero-section {
        max-width: 1440px;
        background-color: #2E2F42;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)),
            url(images/hero-bg-tab.jpg);
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        padding-top: 112px;
        padding-bottom: 112px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
    }   

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)),
            url(./images/hero-bg-tab-2x.jpg);
    }
}

    .hero {
        font-size: 56px;
        width: 496px;
    }

    .btn {
        margin-top: 36px;
    }

    .mob-header-menu {
        display: none;
    }

    .list-visibility {
        display: flex;
    }

    .flex-header {
        display: flex;
        justify-content: flex-start;
    }

    .logo {
        margin: 0;
    }

    .flex-header-navigation {
        display: flex;
        gap: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 17px;
    }
    
    .tab-contacts {
        display: flex;flex-direction: column;
    }

    .contacts {
        font-size: 12px;
        line-height: 1.16;
    }
    
    .customers-list {
        column-gap: 24px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 16px;
    }

    .our-team-list {
        row-gap: 64px;
        column-gap: 24px;
        flex-direction: row;
        width: 552px;
        margin-right: auto;
        margin-left: auto;
    }

    .customers-list-item {
        width: calc((100% - 24px) / 4);
    }

    .our-skills-flex {
        justify-content: center;
        width: 736px;
        column-gap: 24px;
        margin-right: auto;
        margin-left: auto;
    }

    .our-skills-header {
        text-align: left;
    }

    .our {
        width: calc((100% - 24px) / 2);
    }

    .flex-footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        column-gap: 24px;
        margin-left: 108px;
        width: 582px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 16px;
    }

    .footer-text-container {
        align-items: start;
    }

    .footer-container {
        align-items: start;
    }

    .form-flex {
        align-items: flex-start;
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-form {
        align-items: start;
    }

    .subscribe-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px){
    .our-skills-section,
    .clients-section {
        width: 1158px;
    }

    .modal {
        width: 408px;
    }

    .flex-header-navigation {
        margin-left: 0;
    }

    .logo {
        margin-right: 76px;
    }

    .tab-contacts {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .contacts {
        font-size: 16px;
    }

    .header-container {
        padding-bottom: 23px;
    }

    .hero-section {
        max-width: 1440px;
        background-color: #2E2F42;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)),
            url(images/hero-bg.jpg);
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        padding-top: 188px;
        padding-bottom: 188px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
    } 

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)),
            url(./images/hero-bg-2x.jpg);
    }
}

    .our-team-list {
        column-gap: 24px;
        flex-direction: row;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .works-list {
        display: flex;
        justify-content: center;
    }

    .works-section {
        display: block;
        padding: 120px 16px;
    }

    .our-skills-section {
        padding-bottom: 0;
    }

    .our-skills-flex {
        flex-wrap: nowrap;
    }

    .our-skills-icon-container {
        display: flex;
    }

    .our-skills-header {
        font-size: 20px;
    }

    .our-skills-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
        width: 264px;
    }

    .customers-list {
        flex-wrap: nowrap;
        padding: 0;
    }

    .customers-list-item {
        width: 168px;
    }

    .clients-section {
        padding: 120px 0;
        width: 100%;
    }

    .footer {
        padding: 100px 0;
    }

    .flex-footer-container {
        margin: 0;
        gap: 0;
        flex-wrap: nowrap;
        width: 100%;
        margin-left: auto;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: auto;
    }

    .footer-container {
        margin-left: 120px;
    }
    
    .subscribe-form {
        margin-left: 80px;
    }

    .subscribe-input {
        border-color: #FFFFFF;
    }

    .subscribe-input::placeholder {
        opacity: 1;
    }

    .team-section {
        padding: 120px 0;
    }
}
