
@media screen and (min-width: 480px){
    .our-skills-section,
    .clients-section {
        width: 428px;
    }

    .subscribe-input {
        width: 396px;
    }

    .container {
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .our-skills-section,
    .clients-section {
        width: 768px;
    }

    .customers-list {
        column-gap: 24px;
    }

    .our-team-list {
        row-gap: 64px;
        column-gap: 24px;
        flex-direction: row;
        width: 552px;
        margin-right: auto;
        margin-left: auto;
    }

    .customers-list-item {
        width: calc((100% - 24px) / 4);
    }

    .our-skills-flex {
        justify-content: center;
        width: 736px;
        column-gap: 24px;
        margin-right: auto;
        margin-left: auto;
    }

    .our-skills-header {
        text-align: left;
    }

    .our {
        width: calc((100% - 24px) / 2);
    }

    .flex-footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        column-gap: 24px;
        margin-left: 108px;
    }

    .footer-text-container {
        align-items: start;
    }

    .footer-container {
        align-items: start;
    }

    .form-flex {
        align-items: flex-start;
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-form {
        align-items: start;
    }

    .subscribe-input {
        width: 264px;
    }
    
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 1200px){
    .our-skills-section,
    .clients-section {
        width: 1158px;
    }

    .our-team-list {
        column-gap: 24px;
        flex-direction: row;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .works-list {
        display: flex;
        justify-content: center;
    }

    .works-section {
        display: block;
        padding: 120px 16px;
    }

    .our-skills-section {
        padding-bottom: 0;
    }

    .our-skills-flex {
        flex-wrap: nowrap;
    }

    .our-skills-icon-container {
        display: flex;
    }

    .our-skills-header {
        font-size: 20px;
    }

    .our-skills-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
        width: 264px;
    }

    .customers-list {
        flex-wrap: nowrap;
    }

    .customers-list-item {
        width: 168px;
    }

    .clients-section {
        padding: 120px 0;
        width: 100%;
    }

    .footer {
        padding: 100px;
    }

    .flex-footer-container {
        margin: 0;
        gap: 0;
    }

    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-container {
        margin-left: 120px;
    }
    
    .subscribe-form {
        margin-left: 80px;
    }

    .subscribe-input {
        border-color: #FFFFFF;
    }

    .subscribe-input::placeholder {
        opacity: 1;
    }

    .team-section {
        padding: 120px 0;
    }
}
